* {
    --bg-color: rgb(15, 15, 15);
    --bg-color-2: rgb(30, 30, 30);
    --light-text: rgb(240, 240, 240);

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg-color);
    text-align: center;
    position: relative;
    
    font-family: 'Deja Vu Sans';
}

div {
    overflow: visible;
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: start;
    
}

main > * {
    /* border: 1px solid red; */
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px black;
}


h1 {
    padding: 15px;
    color: var(--light-text);
    font-weight: 100;
    text-shadow: 0 0 5px 5px rgb(240, 240, 240);
    font-size: large;
}

p {
    color: var(--light-text)
}

button {
    color: var(--light-text);
    margin: 5px;
    padding: 2px;
}

#transcript {
    
}

.annotation {
    position: absolute;
    left: 0px;
    top: -20px;
    width: 100%;
    text-align: center;
    color: var(--light-text);
    padding-bottom: 1px;
    border-bottom: 0.5px solid var(--light-text);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

video {
    margin: 10px auto;
    width: 90%;
}

/* STYLES FOR SPECTROGRAM HOLDER */
#spectrogram-container {
    display: flex;
    justify-content: center;
    margin: 25px auto;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 50vw;
}

#spectrogram-container > canvas {
    justify-self: center;
    box-shadow: 0 0 5px 5px black;
    min-height: 100%;
}

/* STYLES FOR RECORD BUTTONS */

#speech-button {
    background: none;
	color: inherit;
    border: 3px solid rgb(200, 50, 50);
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 0px;
    height: 0px;
    padding: 15px;
    border-color: red;
    border-radius: 25%;
    transition: 1s ease
}

#speech-button:hover {
    border-radius: 50%;
}

/* STYLES FOR LOADING SCREEN */

#cover-background {
    background-color: rgb(66, 66, 66);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 100%;
    position: absolute;
    transition: 1s ease;
}

#cover-circle {
    background-color: rgb(99, 99, 99);
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    left: 50vw;
    top: 50vh;
    opacity: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    animation-name: loading;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 2s ease;
}

@keyframes loading {
    0% {
        transform: translate(-50%, -50%) translate(-40%, 0%);
    }
    100% {
        transform: translate(-50%, -50%) translate(40%, 0%);
    }
}

@keyframes plotFade {
    0% {
        transform: scale(0%);
    }
    100% {
        transform: scale(100%);
    }
}